body{
  background-color: #ffc7c7;
  text-align: center;
}
.box{
  border: 3px;
  border-style: double;
  padding: 5%;
  width: auto;
  margin: auto;
}
.html{
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
  font-family: 'Dancing Script', cursive;
}
#heading{
  font-family: 'Pacifico', cursive;
}
#rules{
  font-family: 'Righteous', cursive;
}
.Stone{
  background-color:#a6f0c6;
}
.Paper{
  background-color:#a6f0c6;
}
.Scissor{
  background-color:#a6f0c6;
}
