body{
  background-color: #4b5d67;
  text-align: center;
}
.box{
  border: 3px;
  border-style: double;
  padding: 5%;
  width: auto;
  margin: auto;
}
.html{
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
  font-family: 'Dancing Script', cursive;
  color:#ffe5b9;
}
#heading{
  font-family: 'Pacifico', cursive;
  color: #eff7e1;
}
#rules{
  font-family: 'Righteous', cursive;
  color: white;
}
.Stone{
  background-image: url("images/rock.png");
}
.Paper{
  background-image: url("images/paper.png");
}
.Scissor{
  background-image: url("images/scissors.png");
}
.key{
  border:10px solid #cbf1f5;
  outline: None;
  font-size: 2rem;
  border-radius: 15px;
  width: 224px;
  height: 268px;
  display: inline-block;
  font-family: cursive;
  text-align: centre;
  text-shadow: 5px;
  font-weight: 900;
  color: #ff8303;
  text-shadow: 2px 2px #112d4e;
  transition: 3;

}
.key:hover{
border-color: #ffab73;
}
